@page "/pizzadelivery"
@rendermode InteractiveServer

<h2>PizzaDelivery</h2>

<h3>Pizza Crust</h3>
<PizzaCrust pizza="pizza"></PizzaCrust>

<h3>Pizza Toppings</h3>
<PizzaTop pizza="pizza"></PizzaTop>

<h3>Tip</h3>
<form>
    <label>
        <input type="radio" @bind='pizza.PizzaCalc.twelve' />
        12%
    </label>
    <label>
        <input type="radio" @bind='pizza.PizzaCalc.fifteen' />
        15%
    </label>
    <label>
        <input type="radio" @bind='pizza.PizzaCalc.eighteen' />
        18%
    </label>
</form>


<br>
<button onclick="@refresh">Refresh Prices</button>
<br>

<h3>Pizza Totals</h3>

<h4>Base Total: $@pizza.CurrentPrice()</h4>
<h4>Delivery Fee: $2.00</h4>
<h4>Tip: $@pizza.GetTip()</h4>
<h3>Final Total: $@pizza.EndTotal()</h3>


@code {
   Pizza pizza = new Pizza();

   private void refresh()
   {
        pizza.EndTotal();
   }
}
